WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.exe
WindowsFormsApplication2/bin/Debug/WindowsFormsApplication2.pdb
WindowsFormsApplication2/obj/x86/Debug/WindowsFormsApplication2.exe
WindowsFormsApplication2/obj/x86/Debug/WindowsFormsApplication2.pdb